.findUsContainer{
  background-image: url(../../assets/textura.png);
  background-color: #000;
  height: 100%;

  .designPage{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;

    @media (max-width: 700px) {
      justify-content: end;
    }
    
  }

  .centralize{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    a{
      transition: opacity 0.3s ease-in-out;
    }
    a:hover{
      opacity: 70%;
    }
    .map{
      margin-top: 1rem;
      filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
      width: 60vw;
      @media (max-width: 700px) {
        width: 90vw;
      }

    }

    .logo{
      width: 37vw;
      @media (max-width: 700px) {
        width: 60vw;
      }
    }

    

    .textLocation{
      color: var(--white);
      font-size: 1rem;
      font-weight: 200;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  .goldenLines{
    width: 20vw;
  }
}

@media (max-width: 800px) {
    .marca{
      display: none;
    }
    .mdaFindUs{
      height: 40px;
    }
  
  .findUsContainer{
    height: 100vh;
  }

  .map{
    padding-top: 20vh;
  }

  
}